on:
  pull_request:
    types: [labeled]

jobs:
  tests:
    steps:
    - name: Getting label
      if: contains(github.event.pull_request.labels.*.name, 'e2e_google')
      uses: klaudioz/testing_github_actions@master
      with:
        function-name: 'e2e'
        cloud-name: 'google'
